fastapi
uvicorn
sqlalchemy
psycopg2-binary
motor
aiokafka
python-dotenv
python-multipart
langchain-groq
langchain
langchain-community
langchain-openai
pydantic
pytesseract
pillow
pdf2image
aiohttp
tenacity
python-docx
datetime
openai
tiktoken
pymupdf
numpy
scikit-learn
sentence-transformers
pinecone